/* Tipografías provenientes de un fichero del proyecto, son descargadas,
  por si diera algún problema.

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap')

@font-face
  font-family: LibertinusMath-Regular
  src: url("./base/fontFiles/LibertinusMath-Regular.otf") //LibertinusMath-Regular.otf
@font-face
  font-family: LibertinusMono-Regular
  src: url("./base/fontFiles/LibertinusMono-Regular.otf") //LibertinusMono-Regular.otf

/* De nuevo, Webstorm detecta las rutas como erróneas pero esto es incorrecto
  dado que SASS renderiza el proyecto utilizando las tipografías.