.board
  display: grid
  grid-template-columns: 1fr 3fr
  grid-template-rows: 1fr
  height: 83%
  width: 60%
  min-width: auto
  background: $colorBlacknoire
  border-radius: 10px
  @media (max-width: 1600px)
    width: 60rem
  @media (max-width: 1000px)
    width: 100%

.accountMenu
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  height: 45%
  margin-top: 3rem
  margin-left: 2em
  background: $colorLack

  grid-area: 1 / 1 / 2 / 2

.accountArea
  display: flex
  box-sizing: border-box
  flex-direction: column
  align-items: center
  border-radius: 10px
  min-height: auto
  height: 100%
  width: 100%
  padding: 2em

  background: $colorBlacknoire
  grid-area: 1 / 2 / 2 / 3

.accountMenuButton
  padding: 1rem
  width: 100%
  font-family: $fontCrimsonPro
  font-size: 1.6em
  color: $colorMercury
  background: $colorLack
  transition: 0.5s

.accountMenuButton:hover
  background: $colorRZB

.accountAvatar
  height: 8rem
  width: 8rem

.accountSocial
  display: flex
  justify-content: space-around
  align-items: center
  margin-top: 1.5em
  gap: 0.7em
  height: 5rem
  width: 50%

.mediaIcon
  display: flex
  justify-content: center
  align-items: center
  background: $colorRZB
  padding: 1em
  border-radius: 8px
  transition: 0.3s
  height: 4rem
  width: 4rem

.mediaIcon:hover
  background: $colorFadedOrange

.profileTitle
  align-self: flex-end
  font-family: $fontCrimsonPro
  padding-right: 1.5em
  color: $colorMercury
  font-weight: 400
  border-bottom: $colorRZB 1px solid

.userDataForm
  display: flex
  flex-direction: column
  gap: 40%
  font-family: $fontLibMath
  font-size: 1.2rem