.board
  display: grid
  grid-template-columns: 1fr 3fr
  grid-template-rows: 1fr
  height: 80%
  width: 60%
  min-width: auto
  background: coral
  border-radius: 10px
  @media (max-width: 1600px)
    width: 60rem
  @media (max-width: 1000px)
    width: 100%

.accountMenu
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  height: 45%
  margin-top: 3rem
  background: red

  grid-area: 1 / 1 / 2 / 2

.accountArea
  display: flex
  flex-direction: column
  align-items: center
  gap: 1.5rem
  border-radius: 10px
  padding: 4rem 12rem 4rem 12rem

  background: cornflowerblue
  grid-area: 1 / 2 / 2 / 3

.accountMenuButton
  padding: 1rem
  width: 100%
  font-size: 1.4em
  background: blue
  transition: 0.5s

.accountMenuButton:hover
  background: aquamarine

.accountAvatar
  height: 8rem
  width: 8rem

.accountSocial
  height: 3rem
  width: 100%
  background: blue