.lightNavbar
  background: #D0D0D0

.lightBackground
  background: $colorMercury

.lightInputBar
  background: #D0D0D0

.lightKeyboardButtons
  border: $colorBlacknoire 2px solid
  border-radius: 5px

.lightResultArea
  background: #D0D0D0

.lightNewtonLogo
  color: $colorBlacknoire

