.sticky
  position: sticky
  width: 100%

.navbar
  display: flex
  justify-content: space-between
  min-height: 7vh
  max-height: 10vh
  padding: 16px 17px 13px 45px
  background: $colorBlacknoire

  @media (max-width: $mediaQuerySize)
    justify-content: flex-end

.burger
  width: 2rem

.burgerIcon
  width: 100%
  height: 100%
  transition: 0.5s

.burgerIcon:hover
  animation: svgFade 0.5s linear
  content: url("../img/hoverBurger.svg")
  rotate: 90deg

.bringBackNewton
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-weight: 400
  font-size: 2.3em
  margin: auto

.bringBackNewton:hover
  background-image: linear-gradient($colorMercury, $colorRZB)
  background-clip: text
  color: transparent
  transition: 0.5s

@keyframes svgFade
  0%
    rotate: 0deg
  100%
    rotate: 90deg