.registerSignUpButton
  padding: 0.5rem 1.1rem 0.5rem 1.1rem
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-size: 1em
  background: $colorRZB
  border-radius: 8px
  transition: 0.5s

.registerSignUpButton:hover
  color: $colorBlacknoire
  background: $colorFadedOrange

// Botones continuar con... del registro
.continueWithButtons
  display: flex
  flex-direction: column
  align-items: center
  gap: 1em


// Boton principal bordeado en naranja con fondo negro,
// utilizado para multiples menus overlay y seccion donate

.continueButton
  display: flex
  justify-content: center
  align-items: center
  width: 80%
  height: 40%
  color: $colorMercury
  padding: 1em
  border: 0.10em solid $colorRZB
  border-radius: 9px
  transition: 0.5s
  font-size: 1.3em

.continueButton:hover
  color: $colorBlacknoire
  background: $colorFadedOrange
  border-color: $colorFadedOrange

.continuePaypal:hover
  background: $colorRZB
  border-color: $colorRZB

// Botones de registro de los overlays de la main page
.signUpButton
  padding: 0.5rem 1.8rem 0.5rem 1.8rem
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-size: 1.7em
  background: $colorRZB
  border-radius: 8px

.logInButton
  padding: 0.5rem 1.8rem 0.5rem 1.8rem
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-size: 1.7em
  border-radius: 8px

.logInButton:hover
  color: $colorBlacknoire
  background: $colorFadedOrange

.signUpButton:hover
  color: $colorBlacknoire
  background: $colorFadedOrange

// Boton principal de los formularios y overlays
.orangeRoundedButton
  padding: 0.5em
  border: 0
  margin: auto
  border-radius: 8px
  font-family: $fontCrimsonPro
  font-size: 0.9em
  color: $colorMercury
  background: #E9470C


.orangeRoundedButton:hover
  cursor: pointer
  color: $colorBlacknoire
  background: $colorFadedOrange

// Botón de "Eliminar cuenta" en settings
.deleteButton
  padding: 0.5em
  border: 0
  border-radius: 8px
  font-family: $fontCrimsonPro
  font-size: 0.8em
  color: $colorMercury
  background: red
  transition: 1s

.deleteButton:hover
  cursor: help
  background: $colorMercury
  color: $colorBlacknoire

.customLink
  color: $colorRZB

.customLink:hover
  color: $colorFadedOrange

.customLink:visited
  color: $colorClearOrange