.guestOverlay
  display: none
  justify-content: space-around
  align-items: center
  position: absolute
  transition: 0.5s
  top: 5.5rem
  left: 3%
  height: 9vh
  width: 40vh
  padding: 0 1.2rem 0 1.2rem
  border-radius: 8px
  background: $colorBlacknoire

.signUpButton
  padding: 0.5rem 1.8rem 0.5rem 1.8rem
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-size: 1.7em
  background: $colorRZB
  border-radius: 8px

.logInButton
  padding: 0.5rem 1.8rem 0.5rem 1.8rem
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-size: 1.7em
  border-radius: 8px

.logInButton:hover
  color: $colorBlacknoire
  background: $colorFadedOrange

.signUpButton:hover
  color: $colorBlacknoire
  background: $colorFadedOrange