@import "utilities/variables"
@import "./base/_typo.sass"
@import "./base/_reset.sass"
@import "base/main"


@import "./layout/navbar"
@import "./layout/inputArea"
@import "./layout/keyboard"
@import "./layout/resultArea"


@import "overlayMenus/guestOverlay"
@import "overlayMenus/loginOverlay"
@import "overlayMenus/registerOverlay"
@import "overlayMenus/homeOverlay"
@import "overlayMenus/closeArea"

@import "views/account"
@import "base/accountMain"






///////////////////// Navbar




///////////////////// Logo

.logoNewton
  color: $colorMercury
  font-family: $fontCrimsonPro
  font-size: calc(80px + 2.1vw)
  font-weight: 400
  padding: 2rem 0 0.2rem 0

  @media (max-width: $mediaQuerySize)
    padding: 0 0 0.6rem 0
    font-size: 4.7rem



///////////////////// inputArea




///////////////////// Keyboard
//Media queries para ir reduciendo tamaño del teclado






///////////////////// Result




///////////////////// Overlay Menus

// Login Overlay


// Register Overlay


// Guest overlay



// Menu overlay


// Close area



///////////////////////////////






