@use "variables"
*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none

input
  all: unset

a:visited
  color: black

.mainFrame
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

///////////////////// Navbar

.sticky
  position: sticky
  width: 100%

.navbar
  background: variables.$colorBlacknoire
  min-height: 1rem
  padding: 16px 0px 13px 45px

.burger
  height: 100%

.burgerContainer
  width: 20px
  height: 20px

///////////////////// Logo
.logoSection



.logoNewton
  color: variables.$colorMercury
  font-family: variables.$fontCrimsonPro
  font-size: 7rem
  font-weight: 400
  padding: 2rem 0px 0.2rem 0px


///////////////////// inputArea

.inputSection
  width: 45%
  min-width: 36rem
  padding-bottom: 1.2rem

.inputBar
  background: variables.$colorMercury
  border-radius: 8px
  height: inherit
  width: 100%

.equal
  height: calc(100% - 0.9rem)

.equalImg
  height: 100%

.inputBarArea
  display: flex
  background: variables.$colorMercury
  border-radius: 8px
  height: 3.4rem
  width: 100%
  align-items: center
  padding-right: 0.4rem


///////////////////// Keyboard

.keyBoardSection
  width: 100%
  min-width: 27rem
  padding-top: 0.2rem
  display: grid
  justify-content: center
  align-items: center
  grid-template-columns: 2rem repeat(8, 2rem)
  row-gap: 0.7rem
  column-gap: 30px

.keyboardButton
  display: flex
  justify-content: center
  align-items: center
  font-family: variables.$fontLibMath
  font-size: 21px
  height: 3rem
  width: 3.4rem
  border-radius: 2px
  background: variables.$colorMercury

.clearButton
  height: 100%
  width: 100%
  background: variables.$colorClearOrange

.customIcon
  height: 100%
  width: 100%


.alignKeyboard
  grid-column-start: 2


///////////////////// Result
.resultSection
  width: 37%
  min-width: 29rem
  padding: 4rem 0px 1rem 0px

.resultBox
  display: flex
  justify-content: center
  align-items: center
  position: relative
  height: 20vh
  width: inherit
  padding: 2rem
  border-radius: 8px
  background: variables.$colorMercury

.resultBoxBackground
  padding: 2.2rem
  border-radius: 8px
  background: #5e5e61


///////////////////////////////

body
  background: variables.$colorLack






